<%= form_for @apartment, html: { multipart: true } do |f| %> <!--change this for paperclip-->
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<form class="form-horizontal">
  <div class="form-group">
    <%= f.label :image, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class = "form-group">
      <%= f.label :latitude, class: "col-sm-2 control-label" %><br>
      <div class="col-sm-10">
      <%= f.text_field :latitude %>
    </div>
  </div>

  <div class = "form-group">
  <%= f.label :longitude, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :longitude %>
  </div>
</div>

<div class = "form-group">
<%= f.label :address, class: "col-sm-2 control-label" %><br>
<div class="col-sm-10">
  <%= f.text_field :address %>
</div>
</div>


<div class = "form-group">
  <%= f.label :street, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :street %>
  </div>
</div>

<div class = "form-group">
  <%= f.label :city, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :city %>
  </div>
</div>

<div class = "form-group">
  <%= f.label :postal_code, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :postal_code %>
  </div>
</div>

<div class = "form-group">
  <%= f.label :state, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :state %>
  </div>
</div>

<div class = "form-group">
  <%= f.label :country, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :country %>
  </div>
</div>

<div class = "form-group">
  <%= f.label :landlord_name, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :landlord_name %>
  </div>
</div>

<div class = "form-group">
  <%= f.label :contact_number, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :contact_number %>
  </div>
</div>

<div class = "form-group">
  <%= f.label :hours, class: "col-sm-2 control-label" %><br>
  <div class="col-sm-10">
    <%= f.text_field :hours %>
  </div>
</div><br>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit class: "btn btn-warning" %>
</div>
</div>
</form>
<% end %>
